
#main {
  #waveform {
    ::-webkit-scrollbar {
      display: none;
    }
    #element::-webkit-scrollbar {
      display: none;
    }
  }
}
.show-help {
  float:right;
}


.control-units {
  margin-top: @base-pad * 2;
  .control {
    a {
      text-align: center;
    }
    .control-button {
      width: 100%;
    }
    padding: @base-pad / 2;
  }

  .control:first-of-type {
    border-left: none;
  }
}

.key-codes {
  margin-top: 0px;
  padding: 0px;
  li.divider {
    border-bottom: 1px solid @light-gray;
  }
  li {
    margin-bottom: @base-pad/2;
    h4, p {
      margin: 0px;
      padding: 0px @base-pad/2;
    }
  }
}