@import "pure";

@base-pad: 1em;

@blue: #105B63;
@tan: #FFFAD5;
@yellow: #FFD34E;
@orange: #DB9E36;
@red: #BD4932;

@dark-gray: #121212;
@gray: lighten(@dark-gray, 50%);
@light-gray: lighten(@gray, 30%);

@import "slider";
@import "song";
@import "regions";
@import "clicks";
@import "ionicons";

* {
  box-sizing: border-box;
}

a {
  color: @dark-gray;
  text-decoration: none;
  &:hover {
    color: @gray;
  };
}
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: @blue;
}

.button-error {
    background: @red;
}

.button-warning {
    background: @orange;
}

.button-secondary {
    background: @tan;
}


.body {
  padding: @base-pad;
  margin: @base-pad;
}

h1, h2, h3, h4, h5, h6 {
  color: @dark-gray;
  padding: @base-pad * 1.5;
  font-family: monospace;
}

h6 {
  padding: @base-pad/4;
}

.head {
  border-bottom: 1px solid @light-gray;
  h2 {
    border-right: 1px solid @light-gray;
  }
  .search {
    width: 100%;
    padding: @base-pad;
    input {
      width: 100%;
      margin-top: @base-pad;
      line-height: 2em;
      padding: @base-pad/2;
      outline: none;
      border: 1px solid @light-gray;
    }
  }
}

.loader {
  font-size: 85%;
  border-left: 4px solid @light-gray;
  padding-left: @base-pad / 2;
  font-family: monospace;
}

.loader.state-error {
  border-left-color: @red;
}

.loader.state-loading {
  border-left-color: @yellow;
}

.loader.state-success {
  border-left-color: @blue;
}

