@import "pure";

@base-pad: 1em;

@blue: #105B63;
@tan: #FFFAD5;
@yellow: #FFD34E;
@orange: #DB9E36;
@red: #BD4932;

@dark-gray: #121212;
@gray: lighten(@dark-gray, 50%);
@light-gray: lighten(@gray, 30%);

@import "slider";
@import "song";
@import "regions";
@import "clicks";
@import "ionicons";
@import "spinner";
@import "meta";
@import "me";
@import "error";
@import "transcriptions";

* {
  box-sizing: border-box;
}

a {
  color: @dark-gray;
  text-decoration: none;
  &:hover {
    color: @gray;
  };
}
.pure-button.disabled {
  opacity: .75;
}
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: @blue;
}

.button-error {
    background: @red;
}

.button-warning {
    background: @orange;
}

.button-secondary {
    background: @tan;
}


.body {
  padding: @base-pad;
  margin: @base-pad;
  font-family: monospace;

}

h1, h2, h3, h4, h5, h6, p {
  color: @dark-gray;
  padding: @base-pad 0px;
  font-family: monospace;
}

html, a {
  font-family: monospace;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.text-muted {
  color: @gray;
}
.border-left {
  border-left: 1px solid @gray;
  padding-left: @base-pad/2;
}

h5, h6 {
  padding: @base-pad/4;
}

.head {
  /*padding: 0px @base-pad;*/
  border-bottom: 1px solid @light-gray;
  h2 {
    padding: @base-pad * 1.5 @base-pad;
    border-right: 1px solid @light-gray;
  }
  .search {
    width: 100%;
    padding: @base-pad;
    input {
      width: 100%;
      margin-top: @base-pad;
      line-height: 2em;
      padding: @base-pad/2;
      outline: none;
      border: 1px solid @light-gray;
    }
  }
}

.loader {
  font-size: 85%;
  border-left: 4px solid @light-gray;
  padding-left: @base-pad / 2;
  font-family: monospace;
}

.loader.state-error {
  border-left-color: @red;
}

.loader.state-loading {
  border-left-color: @yellow;
}

.loader.state-success {
  border-left-color: @blue;
}

ul {
  padding: 0px;
  li {
    list-style-type: none;
  }
}
.tagline {
  text-align: center;
}
#auth {
  margin: @base-pad * 2 0px;
  text-align: center;
  form {
    margin-left: ~'calc(50% - ' @base-pad * 12 ~')';
    max-width: @base-pad * 24;
    input {
      width: 100%;
      margin: @base-pad 0px;
    }
  }
}

div.result {
  width: 100%;
  padding: @base-pad;

  &.success {
    border-bottom: 1px solid @blue;
  }
  &.error {
    border-bottom: 1px solid @red;
  }
}
#main {
  margin: @base-pad;
}
ul.pager {
  margin-top: @base-pad * 2;
  li {
    display: inline-block;

    a {
      padding: @base-pad;
      border-left: 1px solid @light-gray;
    }

    &:first-of-type {
      a {
        padding-left: 0px;
        border-left: none;
      }
    };
    i {
      position: relative;
      top: 2px;
      padding: @base-pad;
    }
  }
}
.spin-wrap {
  position: relative;
  height: @base-pad * 8;
}