<form class="pure-form pure-form-stacked">
    <fieldset>
        <legend>Login</legend>

        <% if(state.error) { %>
           <div class="result error">
            <h5><%- t('login_failed') %></h5>
            <% _.each(state.error, function(reason, key) { %>
                <h5>
                    <%- key %>: <span class="text-muted"><%- t(reason) %></span>
                </h5>
            <% }) %>
            </div>
        <% } %>

        <% if(state.success) { %>
            <div class="result success">
                <%- t('login_success') %>
            </div>
        <% } else { %>

            <input
                id="user"
                name="user_id"
                type="email"
                value="<%- state.model.get('user') %>"
                placeholder="Email">

            <input
                id="password"
                name="password"
                type="password"
                placeholder="Password">

            <a href="javascript:void(0)" class="pure-button pure-button-primary login">
              <%- t('login') %>
            </a>
            <a href="#" class="pure-button">
              <%- t('nvm') %>
            </a>
        <% } %>
    </fieldset>
</form>