<form class="pure-form pure-form-stacked">
    <fieldset>
        <legend>Register</legend>

        <% if(state.error) { %>
           <div class="result error">
            <h5><%- t('account_create_failed') %></h5>

            <% _.each(state.error, function(reason, key) { %>
                <h5>
                    <%- key %>: <span class="text-muted"><%- t(reason) %></span>
                </h5>
            <% }) %>

            </div>
        <% } else if(state.success) { %>
            <div class="result success">
                <h5><%- t('account_created') %></h5>
            </div>
        <% } %>

        <input id="email" name="email" type="email" placeholder="Email">
        <input id="password" name="password" type="password" placeholder="Password">

        <a href="javascript:void(0)" class="pure-button pure-button-primary register">
          Register
        </a>
        <a href="#" class="pure-button">
          Nevermind
        </a>
    </fieldset>
</form>