<% if(state.isEditing) { %>
  <form class="pure-form" onsubmit="return false;">
    <fieldset>
      <div class="pure-g">
        <input class="pure-u-1-2" value="<%- state.model.get('name') %>" name="name"/>
      </div>
    </fieldset>
  </form>
<% } else { %>
  <h3 class="text-muted">
    <a href="javascript:void(0)" class="toggle-edit">
      <%- state.model.get('name') %>
      <i class="text-muted ion-edit"></i>
    </a>
  </h3>

  <h6 class="text-muted">
    created by <% if(state.model.get('user')) { %>
      <%- state.model.get('user').display_name %>
    <% } else { %>
      <%- t('anonymous') %>
    <% } %>
  </h6>
<% } %>
